@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.textfield > label {
  color: #f0ffffde;
  margin-bottom: 500px !important;
}

h1 {
    color: #f6ebf0;
    font-family: 'Monoton', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    margin-bottom: 10px;
}



body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, #685792,#342c47);
    background-size: 500% 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 20px;
}


.main-recados {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 10px 40px 80px #00000093;
    margin-top: 50px;
}  


.textfield > input {
  display: inline-flex;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
  margin: 5px 0px 5px 0px !important;
}


.textfield > input::placeholder {
    color:  #f0ffff94;
}

.textfield > input:focus {
  border-color: #00ff88;
}

.container {
  display: flex;
  width: 100%;
}

.input-descricao {
  width: 50%;
  margin: 2px;
}

.input-detalhamento {
  width: 50%;
  margin: 2px;
}


table, th, td {  
  position: absolute 200px; 
  border: 1px solid #ffffff; 
  border-collapse: collapse; 
  margin-top: 10px;
  
}  

th, td {  
  padding: 5px; 
  width: 200px;
  text-align: center;
  color: #ffffff;
}  

table th {  
  color: white;  
  background-color:  #0bff8d6b; 
}  


img{
  margin: 0 15px 0 10px;
  cursor: pointer; 
}
  
.btn {
  all: unset;
  background-color: #00ff88;
  color: #2f2841;
  border: none;
  border-radius: 40px;
  width: 15%;
  margin: 20px ;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2vw;
  box-shadow: 0px 10px 10px -1px #00ff8052;
  display: inline-flex;
  justify-content: center;
}
.btns {
    display: flex;
    justify-content: space-between;
}

  
  div#msg-erro{
    color: #00ff88;
    font-size: 2vw;
  }